<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Temos o que você <strong>precisa</strong>!</h2>
                <hr class="light">
                <p class="text-faded">Quem não <strong>adora</strong> comer um brigadeiro delicioso? A Confeitaria do 111 trás a você a <strong>melhor</strong> experiência!<br />
                Nossos produtos são feitos com ingredientes de alta qualidade e muito carinho e amor!<br />
                100% caseiros, sem conservantes! E tudo isso por um preço irresistível!<br />
                Que tal experimentar essa maravilha?</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Quero experimentar!</a>
            </div>
        </div>
    </div>
</section>
