<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="primary">
                <p>Use nossos meios de contato para falar conosco:</p>
            </div>
        <div class="col-lg-2 col-lg-offset-4 text-center">
            <a href="https://www.facebook.com/confeitariado111/" target="_blank">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="mailto:confeitariado111@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>
