<section class="bg-primary" id="formulario">
  <div class="container">
    <div class="row 50%">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <h2 class="section-heading">Ou mande uma mensagem:</h2>
      </div>
      
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <form action="https://formspree.io/confeitariado111@gmail.com" method="POST">
          <label>
            Nome
            <input type="text" name="nome" required>
          </label>

          <label class="input-1-3 input-np">
            Assunto
            <input type="text" name="assunto" required>
          </label>

          <label class="input-1-3">
            Email de contato
            <input type="text" name="email-de-contato" required>
          </label>

          <label>
            Mensagem
            <textarea name="mensagem" cols="21" rows="5"></textarea>
          </label>

          <input type="submit" class="btn btn-default btn-xl" value="Enviar">
          <input type="reset" class="btn btn-default btn-xl" value="Limpar" />

        </form>
      </div>
    </div>    
  </div>
</section>
