<section id="produtos" class="bg-pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Produtos</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutter">
           <!-- <div class="col-lg-4 col-sm-6 produtos-texto">
              <h2>Brigadeiro de Café</h2>
              <h4>Delicioso brigadeiro de chocolate e café</h4>
              <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 produtos-texto">
              <h2>Brigadeiro de Leite Ninho</h2>
              <h4>Delicioso brigadeiro de Leite em pó Ninho®</h4>
              <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 produtos-texto">
              <h2>Brigadeiro de Pimenta</h2>
              <h4>Delicioso brigadeiro picante</h4>
              <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 produtos-texto">
              <h2>Beijadeiro</h2>
              <h4>Delicioso brigadeiro de chocolate e côco</h4>
              <img src="img/portfolio/10.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 produtos-texto">
              <h2>Brigadeiro Tradicional</h2>
              <h4>Delicioso brigadeiro de chocolate</h4>
              <img src="img/portfolio/11.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 produtos-texto">
              <h2>Brigadeiro Tradicional</h2>
              <h4>Delicioso brigadeiro de chocolate</h4>
              <img src="img/portfolio/12.jpg" class="img-responsive" alt="">
            </div> -->
           
          <div class="col-lg-12 col-sm-12 produtos-texto">
            <ul>
              <li>
                <h2>Brigadeiro Tradicional</h2>
                <h4>Delicioso brigadeiro de chocolate</h4>
              </li>
              <li>
                <h2>Brigadeiro de Café</h2>
                <h4>Delicioso brigadeiro de chocolate com café</h4>
              </li>
              <li>
                <h2>Brigadeiro de Leite Ninho®</h2>
                <h4>Delicioso brigadeiro de leite em pó Ninho®</h4>
              </li>
              <li>
                <h2>Brigadeiro de Pimenta</h2>
                <h4>Delicioso brigadeiro picante</h4>
              </li>
              <li>
                <h2>Brigadeiro de Menta</h2>
                <h4>Delicioso brigadeiro de chocolate com menta</h4>
              </li>
              <li>
                <h2>Beijinho</h2>
                <h4>Delicioso docinho de côco</h4>
              </li>
              <li>
                <h2>Beijadeiro</h2>
                <h4>Delicioso brigadeiro de chocolate com côco</h4>
              </li>
            </ul>
          </div>
        </div>
    </div>
</section>
